/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: var(--bg-dark-img);
  --bg-color: var(--bg-dark-clr);
  --accent-color: var(--theme-dark-color);
  --focus-color: var(--focus-dark-color);
  --title-color: var(--theme-dark-color);
  --card-text: var(--card-dark-text);
  --shadow-color: var(--theme-dark-color);
  --button-hover: var(--button-dark-hover);

}

