/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex Mono", sans-serif;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 768px;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  align-self: flex-start;
  justify-self: center;
  margin-top: 19px;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  text-align: center;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono", sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  line-height: 18%;
  background-color: transparent;
  border: 1px solid transparent;
  height: 26px;
  width: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__rec {
  position: absolute;
  display: var(--rec-visibility);
  top: 0;
  right: 0;
  font-size: 18px;
  padding-right: 29px;
  padding-top: 22px;
  color: var(--theme-dark-color);
}

.header__rec::after {
  content: "";
  align-self: center;
  display: var(--dot-visibility);
  border-radius: 50%;
  background-color: var(--theme-dark-color);
  height: 9px;
  width: 9px;
  margin-left: 13px;
  box-shadow: 0 0 3px 2px var(--theme-dark-color);
}

.main-title {
  color: var(--focus-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__main-title {
  align-self: center;
}

.header__title {
  align-self: center;
  justify-self: flex-end;
  max-inline-size: calc(50% - 20px);
  height: min-content;
  margin-inline-end: 20px;
  margin-block-end: 22px;
}

.title-decor {
  background-color: var(--title-color);
  line-height: 23.4px;
  font-weight: 700;
  font-size: 18px;
  color: var(--decor-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin-block: 60px;
  gap: 80px;
}

.section {
  gap: 20px;
  margin-inline: 20px;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
}

.card-section {
  gap: 20px;
  grid-column: 2 span;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--card-text);
}

.main__middle-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-middle-section {
  grid-column: 1 / 4;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.subtitle {
  font-weight: 400;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  gap: 20px;
}

.gallery-container {
  display: grid;
  gap: 20px;
}

.gallery-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.gallery-item:first-of-type {
  grid-column: 1 / 3;
}

.gallery-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery-item:nth-of-type(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.gallery-item:nth-of-type(4) {
  grid-column: 2;
  grid-row: 2;
}

.gallery-item:last-of-type {
  grid-column: 2 / 4;
  grid-row: 3;
}

.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 768px;
}

.footer__main-title {
  justify-self: center;
  align-self: center;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 0;
  right: 0;
  margin: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 0;
  left: 0;
  margin: 20px;
}

a {
  text-shadow: 2px 2px var(--shadow-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid var(--card-text);
}

a:focus-visible {
  text-decoration: none;
  border: none;
  outline: 1px solid var(--card-text);
}

@media (width <= 768px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu-item {
    margin-inline-end: 20px;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: flex-end;
    margin-block-end: 5px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .card-middle-section {
    display: flex;
    flex-direction: column;
  }

  .card-section {
    margin-inline-start: 10px;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width <= 450px) {
  .header {
    min-height: 668px;
  }

  .header__theme-menu-list {
    margin-block-end: 15px;
  }

  .header__theme-menu-item {
    margin-inline-end: 10px;
  }

  .header__title {
    min-inline-size: calc(100% - 20px);
    margin-block-start: 10px;
    margin-inline: 10px;
  }

  .header__rec {
    padding-right: 19px;
    padding-top: 12px;
  }

  .decorated-zone::after {
    margin: 10px;
  }

  .decorated-zone::before {
    margin: 10px;
  }

  .main-title {
    margin-inline-start: 10px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__focus {
    margin-inline-start: 10px;
  }

  .main {
    margin-block: 40px;
    gap: 50px;
  }

  .main__section {
    display: flex;
    flex-direction: column;
  }

  .section {
    margin-inline: 10px;
  }

  .card-section {
    margin-inline-start: 0;
  }

  .main__middle-section {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    margin-inline: 10px;
    gap: 10px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    min-height: 668px;
  }
}
