/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-light-img: url(../images/cover-image-light.png);
  --bg-dark-img: url(../images/cover-image-dark.png);
  --bg-light-clr: rgba(255, 241, 247, 1);
  --bg-dark-clr: rgba(0, 0, 40, 1);
  --theme-dark-color: rgba(255, 0, 112, 1);
  --button-dark-hover: rgba(255, 0, 112, 0.4);
  --button-light-hover: rgba(50, 49, 45, 0.4);
  --focus-dark-color: rgba(219, 0, 255, 1);
  --theme-light-color: rgba(53, 52, 48, 1);
  --focus-light-color: rgba(255, 194, 230, 1);
  --light-shadow-color: rgba(255, 141, 203, 1);
  --card-dark-text: rgba(241, 178, 206, 1); 
  --decor-dark-color: rgba(0, 0, 40, 1);
  --decor-light-color: rgba(53, 52, 48, 1);
}

